    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 50px;
        height: 700px;

    }
    .intro-content-header{
        font-size: 100px;
        color:black;
        font-family: 'Dancing Script', cursive;
        margin:0.5rem;
        display: flex;
        justify-content: center;
        word-break: break-all ;
    }
    .intro-content-body{
        font-size: 40px;
        color:black;
        width: 50%;
        font-family: 'Shadows Into Light', cursive;
        margin:3rem;
        word-break: break-all ;
    }

    @media screen and (max-width: 1000px){
      .intro-content-header{
        font-size:85px;
      }
      .intro-content-body{
        font-size: 38px;
      }
      
    }
    @media screen and (max-width: 800px){
      .intro-content-header{
        font-size:70px;
      }
      .intro-content-body{
        font-size: 30px;
      }
      
    }
